* {
    box-sizing: border-box;
    padding: 0;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10p;
    
}


.wrapher{
    margin:0 auto;
    width:1200px;
    background-color: aqua;
}
.right{
    width: 100px;
    background-color: green;
    text-align: center;
    margin:0 auto;
}
.wrong{
    width: 100px;
    background-color: red;
    text-align: center;
    margin:0 auto;
    
}

.hidden{
    display: none;
}
