* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}
.container{
    margin: 0 auto;
    width: 760px;
    background: skyblue;
    border-radius: 5%;
    text-align: center;
}
h1{
    font-size: 36px;
    margin-top: 140px;
}
.right{
    padding-top: 5px;
    color: black;
    background-color: rgba(0, 200, 0, 0.5);
    border-radius: 20px;
    padding-left:5px;
}
.wrong{
    padding-top: 5px;
    background-color: red;
    border-radius: 20px;
    width: auto;
}
.hidden{
    display: none;
}
.opend{
    background-color: skyblue;
}
input, button{
    cursor: pointer;
    
}
h2{
    margin: 0;
    font-size: 40px;
}
.quetion{
    margin-top: 50px;
    font-size: 20px;
}
span{
    margin-left: 5px;
}
.button1{
    width: 760px;
    font-size: 15px;
    border-radius: 20px;
    height: 35px;
    font-weight: bold;
    
}
.button2{
    font-size: 15px;
    border-radius: 20px;
    background: rgb(255, 255, 255);
    width: 760px;
    height: 25px;
    font-weight: bold;
    
}
.button3{
    font-size: 15px;
    border-radius: 20px;
    background: #f5e558;
    width: 760px;
    height: 25px;
    font-weight: bold;
    
}
